<div class="wrap">
    <div class="header">
       <wid_header></wid_header>
        <mod_header_top></mod_header_top>
        <mod_menu></mod_menu>
        <mod_header_slide></mod_header_slide>
    </div>
    <div class="main">
        <div class="content">
            <mod_content_top></mod_content_top>
            <mod_group_product [product_type]=1></mod_group_product>
            <mod_content_top></mod_content_top>
            <mod_group_product [product_type]=2></mod_group_product>
        </div>
    </div>
</div>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
<wid_footer></wid_footer>