<div class="section group">
    <div class="col-md-3" *ngFor="let product of products">
        <a  (click)="gotoDetail(product)"><img class="img-responsive center-block" alt="" src="{{product?.img}}"></a>
        <h2>{{product?.name}} </h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">{{product?.price | number}} VNĐ</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="#">Add to Cart</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>